<main>
    <section class="container-login">
        <form [formGroup]="form">
            <div class="form-login-group">
                <mat-form-field
                    appearance="outline"
                    name="email"
                    ngDefaultControl
                >
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email" />
                </mat-form-field>

                <mat-form-field
                    appearance="outline"
                    name="senha"
                    ngDefaultControl
                >
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" />
                    <mat-hint align="start">mínimo de 6 caracteres</mat-hint>
                </mat-form-field>
            </div>
        </form>
        <div class="botoes">
            <button
                mat-flat-button
                type="submit"
                [disabled]="!form.valid"
                (click)="login()"
            >
                Fazer login
                <mat-icon fontIcon="send"></mat-icon>
            </button>
            <button
                mat-flat-button
                type="button"
                class="botao-cadastrar"
                (click)="signUp()"
            >
                Cadastrar
                <mat-icon fontIcon="send"></mat-icon>
            </button>
        </div>
    </section>
</main>
