<main class="main-container">
  @if (dadosCarregados) {
  <ng-container>
    <section class="container-formulario">
      <div>
        <h3 class="main-header">
          Formulário semestral de {{ nome_aluno }}
          <mat-icon fontIcon="description"></mat-icon>
        </h3>
      </div>

      <div class="formulario">
        <form [formGroup]="formAluno">
          <div class="grid-container">
            <mat-form-field
              appearance="outline"
              formControlName="artigosEscrita"
              name="artigosEscrita"
              ngDefaultControl
            >
              <mat-label>Artigos em fase de escrita</mat-label>
              <input
                matInput
                #input
                maxlength="2"
                type="tel"
                (keydown)="blockNonNumberInput($event)"
                [disabled]="formAlunoDesabilitado"
              />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              formControlName="artigosSubmetidos"
              name="artigosSubmetidos"
              ngDefaultControl
            >
              <mat-label> Artigos submetidos e em fase de avaliação </mat-label>
              <input
                matInput
                #input
                type="tel"
                maxlength="2"
                (keydown)="blockNonNumberInput($event)"
                [disabled]="formAlunoDesabilitado"
              />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              formControlName="artigosAceitos"
              name="artigosAceitos"
              ngDefaultControl
            >
              <mat-label>Artigos aceitos e publicados</mat-label>
              <input
                matInput
                #input
                type="tel"
                maxlength="2"
                (keydown)="blockNonNumberInput($event)"
                [disabled]="formAlunoDesabilitado"
              />
            </mat-form-field>
          </div>

          <div class="grid-container">
            <mat-form-field
              appearance="outline"
              formControlName="aprovacoesDesdeInicio"
              name="aprovacoesDesdeInicio"
              ngDefaultControl
            >
              <mat-label>
                Aprovações em disciplinas desde o início do curso
              </mat-label>
              <input
                matInput
                #input
                maxlength="2"
                type="tel"
                (keydown)="blockNonNumberInput($event)"
                [disabled]="formAlunoDesabilitado"
              />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              formControlName="reprovacoesSemestreAtual"
              name="reprovacoesSemestreAtual"
              ngDefaultControl
            >
              <mat-label>
                Reprovações no {{ textoSemestre }} semestre de {{ textoAno }}
              </mat-label>
              <input
                matInput
                #input
                type="tel"
                maxlength="2"
                (keydown)="blockNonNumberInput($event)"
                [disabled]="formAlunoDesabilitado"
              />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              formControlName="reprovacoesDesdeInicio"
              name="reprovacoesDesdeInicio"
              ngDefaultControl
            >
              <mat-label>
                Reprovações em disciplinas desde o início do curso
              </mat-label>
              <input
                matInput
                #input
                type="tel"
                maxlength="2"
                (keydown)="blockNonNumberInput($event)"
                [disabled]="formAlunoDesabilitado"
              />
            </mat-form-field>
          </div>

          <mat-form-field
            appearance="outline"
            formControlName="atividadesAcademicas"
            name="atividadesAcademicas"
            ngDefaultControl
          >
            <mat-label>
              Atividades acadêmicas no semestre passado (congresso, visita
              técnica, intercâmbio, estágio PAE etc)
            </mat-label>
            <textarea matInput [disabled]="formAlunoDesabilitado"></textarea>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            formControlName="atividadesPesquisa"
            name="atividadesPesquisa"
            ngDefaultControl
          >
            <mat-label>
              Apresente um <b>resumo</b> das suas atividades de pesquisa até o
              momento e das atividades que ainda precisam ser desenvolvidas até
              a conclusão do seu curso
            </mat-label>
            <textarea matInput [disabled]="formAlunoDesabilitado"></textarea>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            formControlName="declaracaoCCP"
            name="declaracaoCCP"
            ngDefaultControl
          >
            <mat-label>
              Você tem algo a declarar para a CCP - PPgSI que considera
              importante para a sua avaliação?
            </mat-label>
            <textarea matInput [disabled]="formAlunoDesabilitado"></textarea>
          </mat-form-field>

          <mat-radio-group
            formControlName="dificuldades"
            name="dificuldades"
            ngDefaultControl
          >
            <mat-label
              class="{{ formAlunoDesabilitado ? 'texto-desabilitado' : '' }}"
            >
              Você está enfrentando dificuldades no curso?
            </mat-label>
            <mat-radio-button value="1" [disabled]="formAlunoDesabilitado"
              >Sim</mat-radio-button
            >
            <mat-radio-button value="0" [disabled]="formAlunoDesabilitado"
              >Não</mat-radio-button
            >
          </mat-radio-group>

          <mat-radio-group
            formControlName="conceitosDivulgados"
            name="conceitosDivulgados"
            ngDefaultControl
          >
            <mat-label
              class="{{ formAlunoDesabilitado ? 'texto-desabilitado' : '' }}"
            >
              Todas as disciplinas cursadas no semestre já tiveram seus
              conceitos divulgados?
            </mat-label>
            <mat-radio-button value="1" [disabled]="formAlunoDesabilitado"
              >Sim</mat-radio-button
            >
            <mat-radio-button value="0" [disabled]="formAlunoDesabilitado"
              >Não</mat-radio-button
            >
          </mat-radio-group>
        </form>

        @if (exibeParecerDocente) {
        <form [formGroup]="formDocente">
          <mat-form-field
            appearance="outline"
            formControlName="parecer"
            name="parecer"
            ngDefaultControl
          >
            <mat-label>Parecer do docente orientador</mat-label>
            <textarea
              matInput
              [disabled]="parecerDocenteDesabilitado"
            ></textarea>
          </mat-form-field>

          <mat-radio-group
            formControlName="conceito"
            name="conceito"
            ngDefaultControl
          >
            <mat-label
              class="{{
                parecerDocenteDesabilitado ? 'texto-desabilitado' : ''
              }}"
              >Desempenho do aluno com base no seu parecer:</mat-label
            >
            <mat-radio-button value="0" [disabled]="parecerDocenteDesabilitado">
              Adequado
            </mat-radio-button>
            <mat-radio-button value="1" [disabled]="parecerDocenteDesabilitado">
              Adequado com ressalvas
            </mat-radio-button>
            <mat-radio-button value="2" [disabled]="parecerDocenteDesabilitado">
              Instatisfatório
            </mat-radio-button>
          </mat-radio-group>
        </form>
        } @if (exibeParecerCCP) {
        <form [formGroup]="formCCP">
          <mat-form-field
            appearance="outline"
            formControlName="parecer"
            name="parecer"
            ngDefaultControl
          >
            <mat-label>Parecer da CCP</mat-label>
            <textarea matInput [disabled]="parecerCCPDesabilitado"></textarea>
          </mat-form-field>

          <mat-radio-group
            formControlName="conceito"
            name="conceito"
            ngDefaultControl
          >
            <mat-label
              class="{{ parecerCCPDesabilitado ? 'texto-desabilitado' : '' }}"
              >Desempenho do aluno com base no seu parecer:</mat-label
            >
            <mat-radio-button value="0" [disabled]="parecerCCPDesabilitado">
              Adequado
            </mat-radio-button>
            <mat-radio-button value="1" [disabled]="parecerCCPDesabilitado">
              Adequado com ressalvas
            </mat-radio-button>
            <mat-radio-button value="2" [disabled]="parecerCCPDesabilitado">
              Instatisfatório
            </mat-radio-button>
          </mat-radio-group>
        </form>
        }

        <div class="footer">
          <button
            type="submit"
            class="send-btn"
            (click)="sendForm()"
            [disabled]="botaoEnviarDesabilitado()"
          >
            Enviar
            <mat-icon fontIcon="send"></mat-icon>
          </button>
        </div>
      </div>
    </section>
  </ng-container>
  }
</main>
