main {
    display: flex;
    justify-content: center;
}

.container-alunos {
    display: flex;
    justify-content: flex-start;
    width: 90%;

    margin: 1rem 0;
    flex-wrap: wrap;
    height: fit-content;
}

.texto-link-tabela {
    color: blue;
    text-decoration: none;
}
