<main>
  <section class="container-alunos">
    <table mat-table [dataSource]="formularios" class="mat-elevation-z8">
      <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef>Referência</th>
        <td mat-cell *matCellDef="let element">2º sem/24</td>
      </ng-container>

      <ng-container matColumnDef="aluno">
        <th mat-header-cell *matHeaderCellDef>Aluno</th>
        <td mat-cell *matCellDef="let element">
          <a
            class="texto-link-tabela"
            (click)="redirecionaAluno(element.nusp_aluno)"
          >
            {{ element.nome_aluno }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="parecer dado?">
        <th mat-header-cell *matHeaderCellDef>Parecer foi dado?</th>
        <td mat-cell *matCellDef="let element">
          {{ element.parecer_dado ? "Sim" : "Não" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</main>
