<header>
  <nav class="navbar">
    <div class="container-links">
      <a routerLink="perfil" class="no-decoration-title">
        <h1>Ganimedes</h1>
      </a>
      @if (token) { @if(perfil == "ALUNO") {
      <a (click)="redirecionaAluno()">Formulário</a>
      } @else if (perfil == "DOCENTE" || perfil == "CCP"){
      <a routerLink="lista">Formulários dos alunos</a>

      } }
      <!-- Provavelmente não terá histórico -->
      <!-- <a routerLink="historico">Histórico</a> -->
    </div>
    <div class="container-perfil">
      @if(token) {
      <div class="circulo-perfil">
        <a routerLink="perfil">
          <mat-icon fontIcon="person" style="color: black"></mat-icon>
        </a>
      </div>
      <mat-icon (click)="deslogarUsuario()" fontIcon="logout"></mat-icon>
      }
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
