<header>
    <nav class="navbar">
        <div class="container-links">
            <h1>Ganimedes</h1>
            <a routerLink="formulario">{{ textoFormulario }}</a>
            <a routerLink="historico">Histórico</a>
        </div>
        <div class="container-perfil">
            <div class="circulo-perfil">
                <mat-icon fontIcon="person"></mat-icon>
            </div>
            <span class="material-symbols-outlined"> logout </span>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
