<main>
    <div class="container-dados-perfil">
        <form [formGroup]="formPerfil">
            <div class="form-linha-1">
                <div class="text-fields-group">
                    @if (perfil !== "ccp") {
                        <mat-form-field
                            appearance="outline"
                            name="linkLattes"
                            ngDefaultControl
                        >
                            <mat-label>Link Lattes</mat-label>
                            <input
                                matInput
                                type="url"
                                formControlName="linkLattes"
                            />
                        </mat-form-field>
                    }

                    <mat-form-field
                        appearance="outline"
                        name="email"
                        ngDefaultControl
                    >
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" formControlName="email" />
                    </mat-form-field>
                </div>

                <div class="datepickers-group">
                    @if (perfil !== "ccp") {
                        <mat-form-field>
                            <mat-label>Data de atualização do Lattes</mat-label>
                            <input
                                matInput
                                formControlName="dtLattes"
                                [matDatepicker]="dtLattesPicker"
                            />
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="dtLattesPicker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #dtLattesPicker></mat-datepicker>
                        </mat-form-field>
                    }

                    @if (perfil === "aluno") {
                        <mat-form-field
                            appearance="outline"
                            name="anoIngresso"
                            ngDefaultControl
                        >
                            <mat-label>Ano de ingresso</mat-label>
                            <mat-select formControlName="anoIngresso">
                                @for (
                                    ano of anosDeIngresso;
                                    track anosDeIngresso
                                ) {
                                    <mat-option [value]="ano">
                                        {{ ano }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                </div>
            </div>

            @if (perfil === "aluno") {
                <div class="form-linha-2">
                    <div class="radio-button-group">
                        <mat-label>Curso</mat-label>
                        <mat-radio-group formControlName="curso">
                            <mat-radio-button [value]="'Mestrado'">
                                Mestrado
                            </mat-radio-button>
                            <mat-radio-button [value]="'Doutorado'">
                                Doutorado
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="radio-button-group">
                        <mat-label>Exame de proficiência</mat-label>
                        <mat-radio-group formControlName="exameProficiencia">
                            <mat-radio-button [value]="'Aprovado'">
                                Aprovado
                            </mat-radio-button>
                            <mat-radio-button [value]="'Reprovado'">
                                Reprovado
                            </mat-radio-button>
                            <mat-radio-button [value]="'Não realizado'">
                                Não realizado
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="radio-button-group">
                        <mat-label>Exame de qualificação</mat-label>
                        <mat-radio-group formControlName="exameQualificacao">
                            <mat-radio-button [value]="'Aprovado'">
                                Aprovado
                            </mat-radio-button>
                            <mat-radio-button [value]="'Reprovado'">
                                Reprovado
                            </mat-radio-button>
                            <mat-radio-button [value]="'Não realizado'">
                                Não realizado
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="form-linha-3">
                    <mat-form-field
                        appearance="outline"
                        name="orientador"
                        ngDefaultControl
                    >
                        <mat-label>Orientador</mat-label>
                        <mat-select formControlName="orientador">
                            @for (
                                orientador of orientadores;
                                track orientador
                            ) {
                                <mat-option [value]="orientador">
                                    {{ orientador }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>
                            Prazo máximo para o depósito da tese
                        </mat-label>
                        <input
                            matInput
                            [matDatepicker]="prazoTesePicker"
                            formControlName="prazoTese"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="prazoTesePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #prazoTesePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Prazo máximo de qualificação</mat-label>
                        <input
                            matInput
                            [matDatepicker]="prazoQualificacaoPicker"
                            formControlName="prazoQualificacao"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="prazoQualificacaoPicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            #prazoQualificacaoPicker
                        ></mat-datepicker>
                    </mat-form-field>
                </div>
            }

            <div class="form-linha-4">
                <a mat-stroked-button (click)="redirecionarFormulario()">
                    Cancelar
                </a>

                <button
                    mat-flat-button
                    [disabled]="!formPerfil.valid"
                    (click)="salvarPerfil()"
                >
                    Salvar
                </button>
            </div>
        </form>
    </div>
</main>
